
@{
    ViewData["Title"] = "PeshoHtml";
}

<div className="submitdiv">
    <div className="submitholderdiv">
        <h1>Login</h1>

        <form id="create">
            <input name="username" id="description" placeholder="username"></input>
            <input name="password" id="description" placeholder="password"></input>
            <input name="email" id="description" placeholder="email"></input>
            <button>Submit</button>
        </form>
    </div>

</div>
