
@model List<User>

@{
    ViewData["Title"] = "PeshoHtml";
    
}



<div className="submitdiv">
    <div className="submitholderdiv">
        <h1>Model[0].Age</h1>

        <form id="create">
            <input name="username" id="description" placeholder="username"></input>
            <input name="password" id="description" placeholder="password"></input>
            <input name="email" id="description" placeholder="email"></input>
            <button>Submit</button>
        </form>
    </div>


    @foreach (var obj in Model)
    {
        <div>@obj.Age</div>
    }

</div>
